<template>
  <div class="cart-product">
    <div class="cart-product__cover">
      <img :src="$addBaseURL(product.image.media.preview.url)"
           alt=""
           class="cart-product__img">
    </div>
    <div class="cart-product__description">
      <nuxt-link :to="{name: 'product', params: {id: product.sku}}">
        <div class="cart-product__title mb-10">
          {{ product.title }}
        </div>
      </nuxt-link>
      <div class="cart-product__brand mb-20">
        <span class="cart-product__manufacturer">
          {{ product.manufacturer.title }}
        </span>
      </div>
      <div class="cart-product__price">
        {{ product.price | formatWithSeparator }} руб
      </div>
    </div>
    <div class="cart-product_-actions">
      <div class="cart-product__counter-controls mb-20">
        <span class="inline-block mb-10">Количество</span>
        <counter-control v-model="productCartCounter"
                         @change="handleCounterChange" />
      </div>
      <div class="cart-product__remove">
        <c-button @click="$emit('remove', product.id)">
          Удалить
        </c-button>
      </div>
    </div>
  </div>
</template>

<script>
import {formatWithSeparator} from "@/filters";
import CounterControl from "@/components/CounterControl/CounterControl";

export default {
  name: 'CartProduct',
  filters: {formatWithSeparator},
  components: {CounterControl},
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      productCartCounter: 1
    }
  },
  methods: {
    handleCounterChange(value) {
      this.productCartCounter = value;
      this.$emit('change-count', value)
    }
  }
}
</script>

<style lang="scss" src="./cart-product.scss" scoped></style>
