.cart-product {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0;
  &__cover {
    flex-basis: 20%;
  }
  &__description {
    flex-basis: 60%;
  }
  &__actions {
    flex-basis: 30%;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__price {
    font-weight: bold;
    font-size: 18px;
  }
}
