<template>
  <div>
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <h3>
              <slot name="header-title">
                Подтверждаете действие?
              </slot>
            </h3>
            <p>
              <slot name="header-caption" />
            </p>
          </div>
          <div class="modal-body">
            <div class="modal-actions">
              <c-button class="mb-20"
                        @click="$emit('confirm')">
                <slot name="confirm-text">
                  Подтвердить
                </slot>
              </c-button>
              <c-button @click="$emit('reject')">
                <slot name="reject-text">
                  Отмена
                </slot>
              </c-button>
            </div>
          </div>
          <div class="modal-footer">
            <slot name="footer" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConfirmModal'
}
</script>

<style lang="scss">
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header {
  text-align: center;
}

.modal-header h3 {
  margin-top: 0;
  color: $c-accent;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

</style>
