/* Fonts */
@font-face {
  font-family: 'Open Sans Regular';
  src: local('Open Sans Regular'),
       url('~assets/fonts/opensans/OpenSans-Regular.eot#iefix') format('embedded-opentype'),
       url('~assets/fonts/opensans/OpenSans-Regular.eot') format('eot'),
       url('~assets/fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
       url('~assets/fonts/opensans/OpenSans-Regular.woff') format('woff'),
       url('~assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans Bold'),
       url('~assets/fonts/opensans/OpenSans-Bold.eot#iefix') format('embedded-opentype'),
       url('~assets/fonts/opensans/OpenSans-Bold.eot') format('eot'),
       url('~assets/fonts/opensans/OpenSans-Bold.woff') format('woff'),
       url('~assets/fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
       url('~assets/fonts/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
