.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.inline-flex {
  display: inline-flex !important;
}

.flex {
  display: flex !important;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col-33 {
  width: 33.33%;
  flex-basis: 33.33%;
}

.col-50 {
  width: 50%;
  flex-basis: 50%;
}

.col-66 {
  width: 66.66%;
  flex-basis: 66.66%;
}

.text-center {
  text-align: center;
}

