@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin below($width:500px) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin maw($max) {
  @media (max-width: #{$max}px) {
    @content;
  }
}

@mixin miw($min) {
  @media (min-width: #{$min}px) {
    @content;
  }
}
