// Colors
$c-accent: #46c3d2;
$c-black: #111;
$c-gray: #a0a0a0;

// Fonts
$font-regular:                        'Open Sans Regular', 'Arial', sans-serif;
$font-bold:                           'Open Sans Bold', 'Arial', sans-serif;





