<template>
  <div class="product-card-slider">
    <div v-swiper:mySwiper="options">
      <div class="swiper-wrapper">
        <div v-for="image in images"
             :key="image.id"
             class="swiper-slide">
          <img width="100%"
               :src="$addBaseURL(image.media.url)">
        </div>
      </div>
      <div class="swiper-pagination" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductCardSlider',
  props: {
    options: {
      type: Object,
      required: false,
      default: () => {}
    },
    images: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.product-card-slider {
  width: 100%;
}
</style>
