.product-card {
  width: 100%;
  &__link {
    color: inherit;
    text-decoration: none;
  }
  &__image {}
  &__brand {
    color: $c-gray;
    font-size: .75rem;
  }
  &__title {
    min-height: 35px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &__price {
    color: $c-accent;
    font-weight: bold;
    font-size: 1.4rem;
  }
}
