<template>
  <div class="product-card">
    <nuxt-link :to="{ name: 'product', params: {id: product.sku} }"
               class="product-card__link">
      <div class="product-card__cover-wrapper mb-20">
        <img :src="$addBaseURL(product.image.media.preview.url)"
             alt=""
             class="product-card__image">
      </div>
      <div class="product-card__brand mb-10">
        <div class="product-card__manufacturer">
          {{ product.manufacturer.title }}
        </div>
      </div>
      <div class="product-card__title mb-10">
        {{ product.title }}
      </div>
      <div class="product-card__price mb-10">
        {{ product.price | formatWithSeparator }} руб
      </div>
    </nuxt-link>
    <div class="product-card__actions">
      <c-button @click="addButtonHandler">
        {{ addButtonText }}
      </c-button>
    </div>
  </div>
</template>

<script>
import {formatWithSeparator} from "@/filters";

export default {
  name: 'ProductCard',
  filters: {formatWithSeparator},
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    isProductInCart() {
      return this.$store.getters.isProductInCart(this.product.id)
    },
    addButtonText() {
      return this.isProductInCart ? 'В корзине' : 'Добавить в корзину'
    }
  },
  methods: {
    addButtonHandler() {
      if (this.isProductInCart) {
        this.$router.push({name: 'cart'})
        return;
      }
      this.$emit('added', this.product)
    }
  }
}
</script>

<style lang="scss" src="./product-card.scss" scoped></style>
