.c-button {
  width: 100%;
  &__el {
    width: 100%;
    background-color: $c-accent;
    border: none;
    padding: 12px 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: lighten($c-accent, 5%);
    }
  }
}
