<template>
  <div class="c-button">
    <button class="c-button__el"
            v-bind="$attrs"
            @click="handleClick">
      <slot />
    </button>
  </div>
</template>

<script>
export default {
  name: 'CButton',
  methods: {
    handleClick() {
      this.$emit('click')
    }
  }
}
</script>

<style lang="scss" src="./c-button.scss" scoped></style>
