<template>
  <div>
    <header class="header">
      <div class="container-fluid">
        <ul class="header-nav">
          <li class="header-nav__item">
            <nuxt-link to="/"
                       exact
                       class="header-nav__item-link"
                       active-class="header-nav__item_active">
              Главная
            </nuxt-link>
          </li>
          <li class="header-nav__item">
            <nuxt-link :to="{name: 'cart'}"
                       class="header-nav__item-link"
                       active-class="header-nav__item_active">
              Корзина
              <span v-if="cartCount"
                    class="cart-count">
                {{ cartCount }}
              </span>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="container-fluid">
        <Nuxt :key="$router.fullPath" />
      </div>
    </main>
  </div>
</template>

<script>
  export default {
    computed: {
      cartCount() {
        return this.$store.state.cart && this.$store.state.cart.length
      }
    }
  }
</script>

<style lang="scss">
.header {
  &-nav {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  &-nav__item {
    position: relative;
    color: $c-black;
    font-weight: bold;
    font-size: 18px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      color: lighten($c-black, 30%);
    }
    .cart-count {
      position: absolute;
      display: inline-block;
      font-size: 12px;
      background-color: $c-accent;
      border-radius: 50%;
      padding: 5px;
      color: white;
      min-width: 25px;
      min-height: 25px;
      top: -5px;
      text-align: center;
    }
  }
  &-nav__item-link {
    color: $c-black;
    text-decoration: none;
  }

  &-nav__item_active, &-nav__item:hover {
    color: $c-accent;
  }
}
</style>
