<template>
  <div>
    <h1>Ошибка</h1>
    <p v-if="error.message">
      {{ error.message }}
    </p>
  </div>
</template>

<script>
export default {
  layout: "default",
  props: {
    error: {
      type: Object,
      required: false,
      default: () => {
      }
    },
  },
  head() {
    return {
      title: "Страница не найдена"
    };
  }
};
</script>
