<template>
  <div class="counter-control">
    <button :disabled="count === 1"
            class="counter-control__button"
            @click="handleDecrease">
      -
    </button>
    <label class="counter-control__label">
      <input type="text"
             disabled
             class="counter-control__input"
             :value="count">
    </label>
    <button class="counter-control__button"
            @click="handleIncrease">
      +
    </button>
  </div>
</template>

<script>
export default {
  name: 'CounterControl',
  model: {
    event: 'change',
    prop: 'count'
  },
  props: {
    count: {
      type: Number,
      required: false,
      default: 0
    }
  },
  methods: {
    handleIncrease() {
      this.$emit('change', this.count + 1)
    },
    handleDecrease() {
      this.$emit('change', this.count - 1)
    }
  }
}
</script>

<style lang="scss" scoped>
  .counter-control {
    display: flex;
    align-items: center;
    height: 25px;
    &__input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: #eeeeee;
      padding: 0 10px;
      text-align: center;
    }
    &__button {
      height: 100%;
      cursor: pointer;
      width: 25px;
    }
    &__label {
      max-width: 100px;
      width: 40px;
      height: 100%;
    }
  }
</style>
