<template>
  <div>
    <transition name="modal">
      <confirm-modal v-show="showConfirmModal"
                     @confirm="confirmRemoveProducts"
                     @reject="rejectRemoveProducts">
        <template #header-title>
          Удаление товаров
        </template>
        <template #header-caption>
          Вы точно хотите удалить все выбранные товары из корзины?
        </template>
        <template #confirm-text>
          Да, удалить
        </template>
        <template #reject-text>
          Оставить
        </template>
      </confirm-modal>
    </transition>
    <div v-if="cart && cart.length > 0">
      <h2>Добавлено {{ cart.length }} штук</h2>
      <h3>Итог: {{ totalPrice | formatWithSeparator }} руб</h3>
      <div class="cart-list">
        <cart-product v-for="(product, productIndex) in sortedProducts"
                      :key="product.id + productIndex.toString()"
                      :product="product"
                      class="mb-20"
                      @change-count="handleChangeProductCount($event, product.id)"
                      @remove="removeProduct" />
      </div>
      <div class="inline-block mb-20">
        <c-button @click="toggleConfirmModal(true)">
          Удалить всё
        </c-button>
      </div>
    </div>
    <p v-else>
      В вашей корзине еще нет товаров
      <nuxt-link to="/"
                 class="block">
        Выбрать товары
      </nuxt-link>
    </p>
  </div>
</template>

<script>
import ConfirmModal from "@/components/ConfirmModal/ConfirmModal";
import CartProduct from "@/components/CartProduct/CartProduct";
import {formatWithSeparator} from "@/filters";
import {mapState} from 'vuex';

export default {
  name: 'CartPage',
  filters: {formatWithSeparator},
  components: {CartProduct, ConfirmModal},
  data() {
    return {
      showConfirmModal: false
    }
  },
  head() {
    return {
      title: 'Корзина'
    }
  },
  computed: {
    ...mapState({
      cart: state => state.cart
    }),
    sortedProducts() {
      const productsWithoutDuplicates = Array.from(new Set([...this.cart]))
      return productsWithoutDuplicates.sort((a, b) => a.id - b.id)
    },
    totalPrice() {
      return this.$store.getters.totalPrice
    }
  },
  methods: {
    addProduct(product) {
      this.$store.commit('SET_CART', [...this.cart, product])
    },
    confirmRemoveProducts() {
      this.removeAllProducts();
    },
    rejectRemoveProducts() {
      this.toggleConfirmModal(false);
    },
    toggleConfirmModal(value) {
      this.showConfirmModal = value;
    },
    removeProduct(productId) {
      const filteredCart = this.cart.filter(product => product.id !== productId)
      this.$store.commit('SET_CART', filteredCart)
    },
    handleChangeProductCount(count, productId) {
      const product = this.cart.find(product => product.id === productId);
      let cartWithoutCurrentProduct = this.cart.filter(product => product.id !== productId);
      let currentProductsById = Array(count).fill(product)
      this.$store.commit('SET_CART', currentProductsById.concat(cartWithoutCurrentProduct))
    },
    removeAllProducts() {
      this.$store.commit('SET_CART', []);
      this.showConfirmModal = false;
    }
  },
}
</script>

<style lang="scss">
.cart-list {
  width: 70%;
}
</style>
