<template>
  <div class="mb-20">
    <div class="flex jcsb">
      <p class="products-list__total">
        {{ pagination.count | formatWithSeparator() }} товаров
      </p>
      <div class="mb-20">
        <label>
          <select name="sort"
                  :value="sortValue"
                  @change="sortProducts">
            <option v-for="(sortName, sortKey) in sortItems"
                    :key="sortKey"
                    :value="sortName">
              {{ sortName }}
            </option>
          </select>
        </label>
      </div>
    </div>
    <div class="products-list">
      <product-card v-for="product in products"
                    :key="product.id"
                    :product="product.attributes"
                    class="products-list__item mb-40"
                    @added="addProductHandler" />
    </div>
    <div class="inline-flex">
      <nuxt-link :to="{query: {...$route.query, page: pagination.current - 1}}"
                 class="mr-20">
        <c-button v-if="showPreviousPageButton">
          Предыдущая
        </c-button>
      </nuxt-link>
      <nuxt-link :to="{query: {...$route.query, page: pagination.current + 1}}">
        <c-button v-if="showNextPageButton">
          Следующая
        </c-button>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import ProductCard from "@/components/ProductCard/ProductCard";
import {formatWithSeparator} from "@/filters";
import {mapActions} from 'vuex';
const DEFAULT_SORT_VALUE = 'default';

export default {
  name: 'IndexPage',
  components: {ProductCard},
  filters: {formatWithSeparator},
  async asyncData({$api, query = {}}) {
    const queryString = new URLSearchParams(query).toString();
    const response = await $api.knigi.getAll(queryString)
    return {
      seo: {
        title: response.seo_title_field,
        description: response.meta_description_field
      },
      pagination: response.pagination,
      products: response.items.data,
      categories: response.childs,
      sortItems: response.order.available,
      sortValue: response.order.current || DEFAULT_SORT_VALUE
    }
  },
  data() {
    return {
      seo: {
        title: '',
        description: ''
      },
      sortItems: {},
      sortValue: '',
      pagination: {},
      products: []
    }
  },
  head () {
    return {
      title: this.seo.title,
      meta: [
        { name: 'description', content: this.seo.description }
      ]
    }
  },
  computed: {
    showPreviousPageButton() {
      return this.pagination.current > 1
    },
    showNextPageButton () {
      return this.pagination.pages > this.pagination.current
    }
  },
  watchQuery: true,
  methods: {
    ...mapActions(['addProductToCart']),
    addProductHandler(product) {
      this.addProductToCart(product)
    },
    async sortProducts({target}) {
      const transformedSortItems = Object.entries(this.sortItems).map(item => ({name: item[1], value: item[0]}))
      const order = transformedSortItems.find(item => item.name === target.value)
      if (order) {
        await this.$router.push({...this.$route, query: {order: order.value.toString()}})
      }
    }
  }
}
</script>

<style lang="scss">
.products-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
    flex-basis: 22%;
  }

  &__total {
    color: $c-gray;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
</style>
