<template>
  <div>
    <div class="flex">
      <div class="product-images mr-20">
        <product-card-slider :images="images"
                             :options="sliderOptions" />
      </div>
      <div>
        <div class="product-title">
          {{ product.title }}
        </div>
        <!--  eslint-disable vue/no-v-html -->
        <div class="product-description"
             v-html="product.description" />
        <!--  eslint-enable vue/no-v-html -->
        <div class="product-price mb-20">
          {{ product.price | formatWithSeparator }} руб
        </div>
        <div class="inline-block">
          <c-button @click="addButtonHandler(product)">
            {{ addButtonText }}
          </c-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductCardSlider from "@/components/ProductCard/ProductCardSlider";
import {mapActions} from 'vuex';
import {formatWithSeparator} from "@/filters";

export default {
  name: 'ProductPage',
  filters: {formatWithSeparator},
  components: {ProductCardSlider},
  async asyncData({$api, params}) {
    const response = await $api.products.getById(params.id)
    return {
      images: response.images.data.map(image => image.attributes),
      product: response.item.data.attributes
    }
  },
  data() {
    return {
      images: [],
      product: {},
      sliderOptions: {}
    }
  },
  head() {
    return {
      title: this.product.title
    }
  },
  computed: {
      isProductInCart() {
        return this.$store.getters.isProductInCart(this.product.id)
      },
      addButtonText() {
        return this.isProductInCart ? 'В корзине' : 'Добавить в корзину'
      }
  },
  methods: {
    ...mapActions(['addProductToCart']),
    addButtonHandler(product) {
      if (this.isProductInCart) {
        this.$router.push({name: 'cart'})
        return;
      }
      this.addProductToCart(product)
    }
  }
}
</script>


<style lang="scss">
.product-images {
  min-width: 400px;
}
.product-description {
  flex-basis: 50%;
}
.product-title {
  font-size: 24px;
  font-weight: bold;
}
.product-price {
  font-size: 18px;
  font-weight: bold;
}
</style>
